extends layout

block content
    .main.container.row
        .col-md-6.col-md-offset-3
            h1.display-4.m-b-2 Sign Up

            form(method='POST' action='/register')
                div.form-group
                    label(for='name') Name:
                    input#name.form-control(type='text', placeholder = 'Your name', name='name')
                div.form-group
                    label(for='Email') Email:
                    input#name.form-control(type='text', placeholder = 'Your Email', name='Email')
                div.form-group
                    label(for='Favourite Book') Favourite Book:
                    input#name.form-control(type='text', placeholder = 'Your Favourite book', name='Favourite')
                div.form-group
                    label(for='password') password:
                    input#name.form-control(type='password', placeholder = 'Your password', name='password')
                div.form-group
                    label(for='confirm password') confirm password:
                    input#name.form-control(type='password', placeholder = 'Confirm passwoed', name='confirmpassword')
                button.btn.btn-primary(type='submit') Sign Up