extends layout

block content
    header.heading Contact Us
     P.write-up Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis nulla at consequatur dolorem, culpa corrupti laboriosam suscipit odit officiis, dolore itaque mollitia ea id, accgy
     button.btn.btn-primary GET IN TOUCH