nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
    button.navbar-toggle.hidden-md-up .pull-xs-right(type='button', data-toggle='collapse')
    #navbar.navbar-nav.collapse.navbar-toggleable-sm

    .container
        a.navbar-brand(href='/')
            i.icn-logo.material-icons bookmark_border
            | Booklibrary
        .nav-items.clearfix
            a.nav-item.nav-link(href='register') Sign Up 
            a.nav-item.nav-link(href='about') About Us 
            a.nav-item.nav-link(href='contact') Contact Us 
            a.nav-item.nav-link(href='profile') My profile
            
        a.btn.btn-info.pull-md-right(href='login') Login 